{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    TODO
    page: {{ test }}

    <ul class="list-group">

        {% for auc in page_obj %}
        <a href="{% url 'auction' auc.pk %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div class="flex-column">
            <strong>{{ auc.title }}</strong> 
            <p><small>Seller: {{ auc.user }}</small></p>
            <h1 class="card-title">{{ auc.starting_price }}<small class="text-muted fw-light"> zł</small></h1>
                <span class="badge bg-primary"> 1 item in Stock</span>
        </div>
        <div class="image-parent">
            <img src="{{ auc.picture_url }}" class="img-thumbnail" style="height: 180px;" alt="quixote">
            <div class="flaot-mb-right text-muted flaot-right">{{ auc.pub_date }}</div>
          </div>
        </a>
        {% endfor %}
    </ul>
    {{ page }}


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
              <a class="page-link" href="{{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
        {% endif %}
          </li>

          {% for i in pages %}
          <li class="{% if page_obj.number == i %}active {% endif %}page-item{% if i == page_obj.paginator.ELLIPSIS %} disabled{% endif %}"><a class="page-link" href="{{ i }}">{{ i }}</a></li>
          {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ page_obj.next_page_number }}">Next</a>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        {% endif %} 
        </li>
        </ul>
      </nav>
      

{% endblock %}