{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <title>{% block title %}Auctions{% endblock %}</title>
    </head>

    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Add auction</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <h4>Nawigation</h4>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link active" href="#section1">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#section2">Nav 1</a></li>
                        <li class="nav-item"><a class="nav-link" href="#section3">Nav 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="#section3">Nav 3</a></li>
                    </ul><br>
                    <!-- TODO dodać strone z wynikami szuaknia -->
                    <form action="{% url 'index' %}" method="POST">
                        <div class="input-group mb-3">
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="Type here.." aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <button class="btn btn-outline-secondary" type="submit" name="search-bt">Search</button>
                        </div>
                    </form>
                </div>
            
                <div class="col-sm-9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <footer class="container-fluid">
            <p>Footer Text</p>
        </footer>
    </body>
</html>
